@font-face {
  font-family: Marker Felt;
  src: url(https://moorstation.org/typoasis/designers/steffmann/index.htm);
}

.movie-info-container {
  /* display: flex;
  justify-content: center;
  background-position: center;
  align-items: center; */
  /* overflow: hidden; */
  /* background-size: cover; */
 
  width: 100%;
  overflow: hidden;
  overflow-y: hidden;
  height: 100%;

  background-color: rgb(189, 184, 176);

}

.info-mask {
  display: table-cell;
  height: auto;
  overflow: hidden;
  width: 100%;
  height:inherit;
  opacity: 93%;
  display: flex;
  justify-content: center;
  background-position: center;
  overflow: hidden;
  overflow-y: hidden;
  /* background-size: cover; */
  background: linear-gradient(to bottom,  rgb(189, 184, 176), #2a2929 100%);
}

.rotating-box {
   background-color: transparent;
  margin-top: 2em;
  perspective: 70rem; 
  /* transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;  */
min-width: 21rem;
/* max-height: calc(var(--max-height, 84vh) * var(--img-ratio, 1)); */
/* max-width: calc(var(--max-width, 52vw) * var(--img-ratio, 1)); */
object-fit: contain;
}

.rotating-box-inner {
  position: relative;
  width: 26vw;
  height: 100%;
  text-align: center;
  transition: transform 1.3s;
  transform-style: preserve-3d;
  text-align: center;
  transition: transform 1.3s;
  transform-style: preserve-3d;

}

.rotating-box:hover .rotating-box-inner {
  transform: rotateY(180deg);
  
}

.rotating-box-front,
.rotating-box-back {
  position: absolute;
  margin-top: 3vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating-box-front {
  background-color: #000000;
  color: black;
  box-shadow: rgb(0, 0, 0) 6px 2px 30px 11px;
  background-color: #000000;
  color: black;

  box-shadow: rgb(0, 0, 0) -.3127rem .202rem .10rem .4331rem;
}

.rotating-image {
 

max-width: 34rem;
width: 33vw;
/* max-height: calc(var(--max-height, 84vh) * var(--img-ratio, 1)); */
/* max-width: calc(var(--max-width, 52vw) * var(--img-ratio, 1)); */
object-fit: contain;
}

.rotating-box-back {
   background-color: #000000; 
  color: white;
  transform: rotateY(180deg);

  flex-direction: column;
  justify-content: flex-start;
  padding: 3px;
  background: linear-gradient(to right, rgb(155, 119, 21), rgb(86, 75, 35)); 
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: flex-start;
  padding: .3em;
  background: linear-gradient(to right, rgb(155, 119, 21), rgb(86, 75, 35));
}

.info-container {

  background: linear-gradient(to top, rgb(30, 29, 29), rgb(17, 17, 14));
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 700% 0%;
  }
  100% {
    background-position: 0 0;
  }
}

.rotating-box-back:before, .rotating-box-back:after {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -2px;
  right: 0px;
  background: linear-gradient(45deg, #eeebe4, #e0e0f1, #deeede,#f4ed8a, #f3ce6a, #f3e3d0, 
    #f4e8e8, #f3f4ec,#f4f4e9, #f3df8e);
  background-size: 400%;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  z-index: -1;
  animation: steam 26s linear infinite;

}

.rotating-box-back:after {
  filter: blur(3rem);

}

.title {
  font-family: 'David Libre';
  font-size: 4vh;
  letter-spacing: 8px;
  color: #fff;
  text-align: center;
  font-variant: small-caps;
  font-style: italic;
  margin: 2vh;
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-family: 'David Libre';
  font-size: 2rem;
  letter-spacing: .5rem;
  color: #fff;
  text-align: center;
  font-variant: small-caps;
  font-style: italic;
  margin: 2rem;
  margin-bottom: 2rem;
  margin-top: 2em;
}

.tagline-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.tagline {
  margin-bottom: 3vh;
  margin: 0;
  font-family: Marker Felt;
  font-size: 1em;
  margin-bottom: 2em;
  margin: 0;
  font-family: Marker Felt;
  font-size: 1rem;
}

.information-wrapper {
  margin-top: 1em;
}

.information {
  font-size: 0.85em;
}

.overview-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
}

.overview {
  padding: .3vw;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 0.94em;
  padding: 1em;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 1rem;
}

