/* * {
  border: rgb(163, 163, 203) 1px solid
} */

main {
  background-color: rgb(189, 184, 176);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* height: 100%; */
  /* width: 100vw; */
  min-width: 300px;
}
