main {
  background-color: rgb(189, 184, 176);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #000000;
  height: 10vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive; 
  font-size: 5rem; 
  overflow: hidden;
  transition: height 0.66s ease-out;
  background: linear-gradient(to top, rgb(189, 184, 176), #000000 111%, rgb(149, 146, 146) 55%, #3d3b3b 190%, rgb(189, 184, 176) 25%);
  padding-top: 1vh;
  padding-bottom: 3vh;
}

.text-container {
  font-size: 5rem;
}

.text-container > span {
  text-transform: uppercase;
  animation: glow 9s ease-in-out infinite;
  margin-top: 0;
}

@keyframes glow {
  0%, 100% {
    text-shadow: 5px 12px 11px #7b7878, 0 0 50px #bdb4a3, 0 0 100px #e4ddac;
    color: rgb(214, 205, 189);
  }

  80%, 90% {
    color: black;
    text-shadow: none;
  }
}

.text-container > span:nth-child(1) {
	animation-delay: .1s;
}

.text-container > span:nth-child(2) {
	animation-delay: .2s;
}

.text-container > span:nth-child(3) {
  animation-delay: .3s;
}

.text-container > span:nth-child(4) {
	animation-delay: .4s;
}

.text-container > span:nth-child(5) {
	animation-delay: .5s;
}

.text-container > span:nth-child(6) {
	animation-delay: .6s;
}

.text-container > span:nth-child(8) {
	animation-delay: .7s;
}

.text-container > span:nth-child(9) {
	animation-delay: .8s;
}

.text-container > span:nth-child(10) {
	animation-delay: .9s;
}

.text-container > span:nth-child(11) {
	animation-delay: 1s;
}

.text-container > span:nth-child(12) {
	animation-delay: 1.1s;
}

.text-container > span:nth-child(13) {
	animation-delay: 1.2s;
}

.text-container > span:nth-child(14) {
	animation-delay: 1.3s;
}

 .text-container > span:nth-child(15) {  
	animation-delay: 1.4s;
} 

.text-container > span:nth-child(16) {
	animation-delay: 1.5s;
}

.text-container > span:nth-child(17) {
	animation-delay: 1.6s;
}

.active {
  color: rgba(197, 187, 187, 0.916);
}
