@font-face {
  font-family: Marker Felt;
  src: url(https://moorstation.org/typoasis/designers/steffmann/index.htm);
}

.movie-info-container {
  display: flex;
  justify-content: center;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  height: 88vh;
}

.info-mask {
  width: 100%;
  height: 100%;
  opacity: 93%;
  display: flex;
  justify-content: center;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  background: linear-gradient(to bottom,  rgb(189, 184, 176), #2a2929 100%);
}

.rotating-box {
  background-color: transparent;
  width: 26vw;
  height: 88vh;
  perspective: 1000px; 
}

.rotating-box-inner {
  position: relative;
  width: 26vw;
  height: 100%;
  text-align: center;
  transition: transform 1.3s;
  transform-style: preserve-3d;
}

.rotating-box:hover .rotating-box-inner {
  transform: rotateY(180deg);
}

.rotating-box-front,
.rotating-box-back {
  position: absolute;
  width: 26vw;
  height: 90%;
  margin-top: 3vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating-box-front {
  background-color: #000000;
  color: black;
  width: 26vw;
  box-shadow: rgb(0, 0, 0) 6px 2px 30px 11px;
}

.rotating-image {
  height: 100%;
  width: 26vw;
}

.rotating-box-back {
  background-color: #000000;
  color: white;
  transform: rotateY(180deg);
  width: 26vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3px;
  background: linear-gradient(to right, rgb(155, 119, 21), rgb(86, 75, 35));
}

.info-container {
  height: 100%;
  background: linear-gradient(to top, rgb(30, 29, 29), rgb(17, 17, 14));
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 700% 0%;
  }
  100% {
    background-position: 0 0;
  }
}

.rotating-box-back:before, .rotating-box-back:after {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -2px;
  right: 0px;
  background: linear-gradient(45deg, #eeebe4, #e0e0f1, #deeede,#f4ed8a, #f3ce6a, #f3e3d0, 
    #f4e8e8, #f3f4ec,#f4f4e9, #f3df8e);
  background-size: 400%;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  z-index: -1;
  animation: steam 26s linear infinite;
}

.rotating-box-back:after {
  filter: blur(50px);
}

.title {
  font-family: 'David Libre';
  font-size: 4vh;
  letter-spacing: 8px;
  color: #fff;
  text-align: center;
  font-variant: small-caps;
  font-style: italic;
  margin: 2vh;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.tagline-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.tagline {
  margin-bottom: 3vh;
  margin: 0;
  font-family: Marker Felt;
  text-decoration: underline;
  font-size: 1em;
}

.information-wrapper {
  margin-top: 3vh;
}

.information {
  font-size: 0.85em;
}

.overview-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1vh;
}

.overview {
  padding: .3vw;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 0.94em;
}

