.rotating-box {
  background-color: transparent;
  width: 30vw;
  height: 88vh;
  perspective: 1000px; 
}

/* This container is needed to position the front and back side */
.rotating-box-inner {
  position: relative;
  width: 30vw;
  
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal rotating when you move the mouse over the rotating box container */
.rotating-box:hover .rotating-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.rotating-box-front,
.rotating-box-back {
  position: absolute;
  width: 30vw;

  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.rotating-box-front {
  background-color: #13315c;
  color: black;
  width: 30vw;

}

/* Style the back side */
.rotating-box-back {
  background-color: #13315c;
  color: white;
  transform: rotateY(180deg);
  width: 30vw;
}

.rotating-image {
  height: 100%;
  width: 30vw;

}

.movie-info-container {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  /* height: 100%; */
  /* overflow: hidden; */
  background-position: center;
}

.backdrop-movie-info {
  width: 100%;
  height: 100%;
}