.movies-container {
    /* display: grid;
    /* grid-gap: 20px; */
    /* grid-template-columns: repeat(5, 1fr); */
    /* padding-left: 5vh; */
    /* padding-right: 5vh; */
    /* max-width: 100%; */
    /* max-height: auto; */
    /* overflow: hidden; */
    /* grid-template-columns: repeat(auto-fill, 18vw);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */ 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    /* height: 100%; */
    
}