img {
    height: 20vh;
}

.card {
    cursor: pointer;
    color: white;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2vh;
    height: 20vh;
    width: 17vw;
}

.card > p {
    margin-bottom: 0;
}