.movies-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
    padding: 1vw;
    padding-top: 1vh;
} 

.movies-container::after {
    content: "";
    flex: unset;
    margin-left: 17.5vw;
}
