.card {
    cursor: pointer;
    color: white;
    height: 36vh;
    margin-top: 5vh;
}

.card-container .card .half {
    width: 340px;
    height: 200px;
    transition: 1s;
}

.card-container .card .half.top {
    position: relative;
    background: rgb(18, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    height: 153px;
}

.card-container .card:hover .half.top {
    transform: translateY(0);
}

.card-container .card .half.top .content img {
    width: 340px;
    height: 200px;
    box-shadow: 10px 16px 58px -13px rgba(0, 0, 0, 1);
}

img {
    min-width: 340px;
    min-height: 210px;
}

p {
    margin-left: .6vh;
    margin-top: 0;
} 

.card-container .card .half.bottom {
    background: rgb(19, 17, 17);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.75);
    transform: translateY(-100px);
}

.card-container .card:hover .half.bottom {
    transform: translateY(0);
}

.half.top {
    height: 333px;
}

.half.bottom {
    height: 303px;
}

.trailer {
    width: 340px;
    height: 200px;
}
