.movies-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
    /* padding: 5em; */
    /* padding-top: 1vh; */
    min-width: 300px;
} 

.movies-container::after {
    content: "";
    flex: unset;
    margin-left: 17.5vw;
}
